<body>
  <h1>test show page</h1>
  <%= @movie.title %>
  <%= @movie.id %>
  <%= @movie.plot %>
  <%= @movie.genre %>
  <%= link_to "Edit info", edit_movie_path(@movie), method: :get %>
  <%= link_to "Delete movie", movie_path(@movie), method: :delete %>
</body>