<body>
 <% if user_signed_in? %>
  <h1>User</h1>
  <%= link_to "Show user", user_path(current_user), method: :get %>
  <h1>Movies</h1>
  <%= link_to "Movies list", movies_path, method: :get %>
  <%= link_to "Add Movie", new_movie_path %>
  <h1>Lists</h1>
  <%= link_to "New list", new_list_path %>
  <%= link_to "Lists", lists_path, method: :get %>
  <% else %> 
  <h1>Please log in</h1>
<% end %>
</body>